@charset "utf-8";  /*문자셋 꼭 써준다*/
body {font-size:12px;  font-family:"돋음","굴림",verdana,arial,sans-serif; color:#333; margin:0 auto;}
a:link,a:visited{text-decoration:none; color:#333;}
a:hover,a:active{text-decoration:underline; color:#333;}
input,textarea,select,option{font-size:12px;  font-family:"돋음","굴림",verdana,arial,sans-serif; color:#333;}

/*위의셋팅은 그때그때 달라지기에 따로 줌.(고정값아님.)*/
/*skip*/
#skip {position:absolute;}
#skip a{display:block; width:0; height:0; overflow:hidden;}
#skip a:active,
#skip a:focus{width:auto;height:auto; padding:6px;}
/*layout*/
 
.page_content_wrapper img {
    max-width:none !important;
    height: auto;
}
#baner{width:1245px;  margin:20px 0px 0px -249px; position:relative;}
#view_box{width:1245px !important;}
#view_box ul li.view1 a{float:left;}
#baner #left{width:17px; height:67px; position:absolute; top:200px; left:13px; cursor:pointer;} 
#baner #right{width:17px; height:67px; position:absolute; top:200px; right:70px; cursor:pointer;} 

.clearfix:after{display: block;content: "" ;clear: both}
#view_box .gallery{width:4484px; height:483px; position: relative}
#view_box .gallery li{float:left;}





#menu_wrapper .nav li.arrow > a:after, #menu_wrapper div .nav li.arrow > a:after {
    content: "";
}
.sub-menu{
  opacity:0.7 !important;
}
.open_table_field{
    margin-right: 145px;
    float: right;
}
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li > a {
    background: none;
}
#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a {
    width: 210px;
}
#copyright{
	text-align:center;
}