@CHARSET "EUC-KR";


#menu_wrapper .nav li.arrow > a:after, #menu_wrapper div .nav li.arrow > a:after {
    content: "";
}
.sub-menu{
	opacity:0.7 !important;
}
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li > a {
    background: none;
}
#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a {
    width: 210px;
}



#page_caption {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 126px;
}
.page_title_inner {
    float: left;
}
#page_caption h1, .ppb_title {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -4px;
    color: #222222;
}
.side_bar{
	width:350px;
	border-right: 1px solid #EAE8E8;
	float: left;
	
}
.side_bar ul{
	width:300px;
	margin: 10px 10px 0 10px;
	
}
.side_bar ul li{
	height: 50px;
	
}
.side_bar ul li a{
	font-size: 1.5em;
	color: #A93838;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
	
}
.side_bar ul li a:hover{
    background-color: #e1e1e1;
}
.side_bar ul li.active a{
    color: #ffffff;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
}
.side_bar ul li.active a:hover{
    background-color: #e1e1e1;
}
.reservation_form_wrapper {
    width: 100%;
     
}
.tg_reservation_form label{
	font-size: 1.4em;
}
label {
    display:inline;
}
.one_third1 label{
	display: inline-block;
}
 
.member_box{
	  width: 900px;
    margin-left: 500px;
}
.one_third1{
	float:left;
	margin-left: 40px;
}
.one_third2{
	margin-right: 320px;
}
.one_third3{
	margin-right: 420px;
}
.one_third4{
	margin-right: 330px;
}
.one_third5{
	margin-right: 330px;
}
.one_third6{
	margin-right: 120px;
}
.one_third7{
	margin-right: 100px;
}
.one_third8{
	margin-right: 80px;
}
.one_third9{
	margin-right: 240px;
}
.one_third9 label{
	    display: inline-block;
    width: 30px;
    vertical-align: top;
}
.one_third9 textarea{
	width:500px;
}
h2.ppb_title {
    width: 600px;
}
#copyright{
  text-align:center;
}